.box {
 
  height: 100vh;
  width: 100vh;
}

.carousel-control-prev{
  left: 5%;
  color: gray !important;
  filter: invert(100%);
}

.carousel-control-next {
  right: 5%;
  color: gray !important;
  filter: invert(100%);
}

@media all and (min-width:600px){
  .box-img {
    position: absolute;
    left: 25%;
    max-height: 100%;
    max-width: 100%;
  }
}
@media all and (min-width:0px) and (max-width: 600px) {
  .box-img {
    position: absolute;
    top: 25%;
    max-height: 100%;
    max-width: 100%;
  }
}

.carousel-item .box-img{
  border-width: 2px;
  border-color: red black;
  border-style: solid;
}