/* src/Carousel.css */

.carousel {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; /* Ensure the image covers the entire area */
  }
  .carousel div img {
    max-height: 100%;
    max-width: 100%;
  }
  
  .timer-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Height of the progress bar */
    background-color: #ccc; /* Background color of the progress bar container */
  }
  
  .timer-bar {
    height: 100%;
    background-color: #4caf50; /* Color of the progress bar */
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .prev-button {
    left: 0;
  }
  
  .next-button {
    right: 0;
  }
  